@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 100vw;
    background-color: #2967b8;
}

ul{
    display: flex;
    list-style: none;
    font-weight: 900;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(179, 175, 175);
    background-color: #4f555e;
}

ol {
    font-weight: 700;
}